/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
/* @font-face {
    font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    /* width: 100%;edit this to max-width:100% for fade property in slider,use image size 1600px by 450px*/
    display: block;
	/* height: 432px; */
	height: auto;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0 0 0px;
    background: transparent;
    border: 0px;
    position: relative;
    zoom: 1;
	padding: 0px 0px; /* Added by shahid */
}

.flex-viewport {
    /* Before----max-height: 432px; */
	max-height: 500px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
    left: 0px;
	opacity: 1;
	background: url("../../images/pre_aero1.png") no-repeat scroll 0 0 transparent;
    height: 64px;
    width: 42px;
}

.flex-direction-nav .flex-next {
    right: 0px;
    opacity: 1;
	background: url("../../images/next_aero1.png") no-repeat scroll 0 0 transparent;
    height: 64px;
    width: 42px;
}

.flexslider:hover .flex-prev {
    opacity: 0.7;
    /* left: 0px; */
}

.flexslider:hover .flex-next {
    opacity: 0.7;
    /* right: 0px; */
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    /* content: '\f001'; */
}

.flex-direction-nav a.flex-next:before {
    /* content: '\f002'; */
}

/* Pause/Play */
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
	display: none;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0,0,0,0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    };
}
/* @media (max-width: 767px) added by shahid */
@media (max-width: 767px) {
	.banner_con {
			display: none;
		}
}
/* @media (max-width: 480px) added by shahid */
@media (max-width: 480px) {
    .flexslider .slides img {
        max-width: 100%;
		max-height: 250px;
    }
	.banner_con {
		display: none;
	}
}	

/* Flex Slider Description css  */	
.slides li{
	position: relative;
}
.banner_con {
    left: 10%;
    position: absolute;
    top: 19%;
    width: 300px;
	z-index: 0;
	padding: 20px;
	background: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
	-webkit-border-radius: 10px 10px 10px 10px;
       -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
}

.banner_con h2 {
    color: #FFFFFF;
    font-family: 'Montserrat';
	font-weight:400;
    font-size: 27px;
    letter-spacing: 0;
    margin: 0px;
}

.banner_con h3 {
    color: #2A3844;
    font-family: 'Droid Serif';
	font-weight:400;
	font-style:italic;
    font-size: 12px;
    margin-top: 5px;
	line-height: 20px;
}

.banner_con p {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 21px;
    margin-top: 25px;
}
.flex_btn {
    color: #FFFFFF;
    float: left;
    font-family: 'Montserrat';
	font-weight:400;
    font-size: 12px;
	font-weight: bold;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 0 0 1px #226056;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    background-color: #71C550;
    padding: 4px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    opacity: 0px;
    text-decoration: none;
    box-shadow: inset 1px 1px 0px 0px #77bcec;
}

.flex_btn:hover {
    background-color: #64b445;
    
}